tools/fceux/*
!tools/fceux/README.md
tools/nessc/*
!tools/nessc/README.md
tools/nintendulatordx/*
!tools/nintendulatordx/README.md
tools/readnes3/*
!tools/readnes3/README.md
tools/cc65/*
!tools/cc65/README.md
tools/famitone2/*
!tools/famitone2/README.md
bin/*
!bin/empty

*.o
*.nes
.vscode